@model IEnumerable<PersonalProject.Models.ViewModels.ItemImageViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-area="admin" asp-controller="Inventory" asp-action="Index">Add Item</a>.</p>
    <p><a asp-area="admin" asp-controller="Admin" asp-action="Index">Users</a>.</p>
    <p><a asp-area="" asp-controller="Order" asp-action="ViewAll">All Orders</a>.</p>
</div>

<partial name="_ItemIndex" />
